.bg-light {
  background: rgba(77, 181, 218, 0.8) !important;
}

body {
  background-color: #3CD3AD;
}

nav {
  width: 100%;
  min-height: 130px;
}

nav .navbar-brand {
  margin-top: 8px;
}

nav .location {
  width: 138px;
  height: 38px;
  background-color: #f1f2f3;
  border-radius: 5px;
}

nav .btn {
  background-color: #f1f2f3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav form label img {
  padding: 10px;
}

nav form label p {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 7%;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-right: 5px;
}

nav form .location {
  width: 138px;
  height: 40px;
}

nav form input {
  width: 500px !important;
  height: 40px !important;
}

nav form button {
  width: 65px;
  height: 40px;
  vertical-align: middle;
}

nav form button img {
  vertical-align: middle;
}

nav .nav-item .nav-link p {
  font-family: "Roboto", sans-serif;
  font-size: 80%;
  line-height: 15.23px;
  letter-spacing: 8%;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  font-weight: bolder;
  color: white;
}

nav .nav-item .nav-link p:hover {
  color: beige;
}

nav .btn {
  width: auto;
  height: auto;
  background-color: transparent;
}

nav #searchbutton {
  background-color: white;
}

nav .dropdown-item input {
  width: 40px;
  height: 15px;
}

.imageFormater {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

.imageFormater img {
  width: 100%;
  min-height: 300px;
}

.imageFormater .message {
  position: absolute;
  top: 25%;
  left: 10%;
}

.imageFormater .message p {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 7%;
  line-height: 27.38px;
  text-align: left;
  font-weight: bold;
  font-size: 4vw;
}

.imageFormater .message2 {
  position: absolute;
  top: 50%;
  left: 10%;
}

.imageFormater .message2 p {
  font-family: "Lato", sans-serif;
  letter-spacing: 7%;
  line-height: 27.38px;
  text-align: left;
  font-weight: bold;
  font-size: 2vw;
}

#main-heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 29.3px;
  letter-spacing: 7%;
  margin-top: 10px;
  text-decoration: underline;
  color: white;
}

.newsarticles {
  border: white 2px solid;
  height: fit-content;
  margin-bottom: 20px;
}

.newsarticles .col-lg-3,
.newsarticles .col-md-4 {
  margin-left: -10px;
  background: #c4c4c47e;
  max-height: 600px;
  margin-bottom: 20px;
}

.col-lg-3 .col,
.col-md-4 .col {
  margin-top: 20px;
}

.col-lg-3 .headingitems,
.col-md-4 .headingitems {
  margin: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.col-lg-3 .headingitems img,
.col-md-4 .headingitems img {
  margin-right: 20px;
}

.col-lg-3 p,
.col-md-4 p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21.3px;
  letter-spacing: 10%;
}

.col-lg-3 #heading,
.col-md-4 #heading {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 7%;
  line-height: 27.38px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.col-lg-9 #headingCorona,
.col-md-8 #headingCorona {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 100%;
  line-height: 32.81px;
  letter-spacing: 7%;
}

.col-lg-9 .headingitems,
.col-md-8 .headingitems {
  margin-bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
}

.col-lg-9 .headingitems img,
.col-md-8 .headingitems img {
  margin-right: 10px;
  width: 20%;
  height: 20%;
}

.col-lg-9 .headingitems .view-all,
.col-md-8 .headingitems .view-all {
  position: relative;
  top: 0;
  width: auto;
  height: 22px;
  text-align: center;
  right: -10%;
  font-family: "Titillium Web", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 21.29px;
  letter-spacing: 7%;
  text-decoration: underline;
}

.col-lg-9 .headingitems .view-all p a,
.col-md-8 .headingitems .view-all p a {
  color: white !important;
  text-decoration: none;
}

.col-lg-9 .headingitems .view-all:hover,
.col-md-8 .headingitems .view-all:hover {
  cursor: pointer;
  color: violet;
}

.col-lg-9 .carousel-item,
.col-lg-9 .col-md-4,
.col-md-8 .carousel-item,
.col-md-8 .col-md-4 {
  background-color: transparent;
  height: 350px;
}

.col-lg-9 .carousel-control-prev-icon,
.col-lg-9 .carousel-control-next-icon,
.col-md-8 .carousel-control-prev-icon,
.col-md-8 .carousel-control-next-icon {
  background-color: rgba(24, 160, 251, 0.5) !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
}

.col-lg-9 .card,
.col-md-8 .card {
  border: none;
  width: 100%;
  height: 297px;
  text-align: center;
  display: block;
  background: #ffffff;
  border: 0.2px solid #00000028;
  -webkit-box-shadow: 8px 4px 8px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 4px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.col-lg-9 .card p,
.col-md-8 .card p {
  text-align: center;
}

.col-lg-9 .card .img-fluid,
.col-md-8 .card .img-fluid {
  width: 83px;
  height: 145px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-lg-9 .card .card-title,
.col-md-8 .card .card-title {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24.34px;
}

.col-lg-9 .card .card-text,
.col-md-8 .card .card-text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 9.6px;
}

.col-lg-9 .card .amount,
.col-md-8 .card .amount {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: #ef4683;
}

.cart-hidden {
  display: none;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.cart-hidden img {
  margin-right: 10px;
}

.card:hover {
  border-radius: 10px 10px 0px 0px;
}

.card:hover .cart-hidden {
  display: block;
  -webkit-transition: all 3s;
  transition: all 3s;
  background: #4db5da;
  z-index: 100;
  position: absolute;
  bottom: -45px;
  width: 100%;
  border: 0.5px black solid;
  cursor: pointer;
  margin: 0 auto;
  left: 0;
}

.cart-hidden img {
  -webkit-transition: transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.cart-hidden:hover img {
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}

.show-cart li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-lg-9 .carousel-inner .carousel-item.active,
.col-lg-9 .carousel-inner .carousel-item-next,
.col-lg-9 .carousel-inner .carousel-item-prev,
.col-md-8 .carousel-inner .carousel-item.active,
.col-md-8 .carousel-inner .carousel-item-next,
.col-md-8 .carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-lg-9 .carousel-inner .carousel-item-right,
.col-lg-9 .carousel-inner .carousel-item-left,
.col-md-8 .carousel-inner .carousel-item-right,
.col-md-8 .carousel-inner .carousel-item-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.topheader {
  width: 100%;
  height: 146px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 146px;
  background: rgba(77, 181, 218, 0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.logo {
  width: 85px;
  height: 85px;
  background: url(./images/medbay-logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 77px;
  overflow: hidden;
}

#products #medbay {
  width: 83px;
  color: rgba(0, 0, 0, 1);
  top: 105px;
  left: 80px;
  font-family: 'Lato', sans-serif;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
  position: fixed;
}

.log-sign {
  width: 112px;
  position: absolute;
  top: 20px;
  left: 1302px;
  font-family: 'Roboto', sans-serif;
  
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
  color: white;
}

.ship {
  width: 40px;
  height: 35px;
  background: url(./images/ship.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1237px;
  overflow: hidden;
}

#products .mariana {
  width: 76px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 17px;
  left: 52px;
  font-family: 'Roboto', sans-serif;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}

#products #medname {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.34px;
}

#products #medmanu {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 9.6px;
}

#products h6 {
  font-family: 'Lato', sans-serif !important;
  font-weight: 700;
  font-size: 25px !important;
  line-height: 21.6px;
  color: #EF4683;
  margin-top: 5px;
}

#products .card {
  border: none;
  max-width: 300px !important;
  height: 340px !important;
  text-align: center;
  display: block;
  background: #FFFFFF;
  border: 0.2px solid #00000028;
  box-shadow: 8px 4px 8px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 auto;
  transition: box-shadow 0.3s ease-in-out;
}

#products .card:hover {
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#products .card .img {
  width: 83px;
  height: 145px;
  padding: 10px;
}

#products .col-lg-3,
#products .col-md-3,
#products .col-sm-6,
#products .col-12 {
  margin-top: 20px;
}

#products .mainheading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 29.3px;
  letter-spacing: 7%;
  text-decoration: underline;
}

#products .cart-hidden {
  display: none;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#products .cart-hidden img {
  margin-right: 10px;
}

#products .card:hover {
  border-radius: 10px 10px 0px 0px;
}

#products .card:hover .cart-hidden {
  display: block;
  -webkit-transition: all 3s;
  transition: all 3s;
  background: #4DB5DA;
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0.5px black solid;
  cursor: pointer;
}

#products .cart-hidden img {
  -webkit-transition: transform .5s linear;
  -moz-transition: transform .5s linear;
  -o-transition: transform .5s linear;
  transition: transform .5s linear;
}

#products .cart-hidden:hover img {
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
}

footer {
  background-color: #05303d;
}

footer .col-md-6 {
  text-align: center;
  display: block;
}

footer img {
  -webkit-filter: drop-shadow(2px 4px 5px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(2px 4px 5px rgba(255, 255, 255, 0.25));
  text-align: center;
}

footer input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: none;
}

footer ::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 5%;
  color: #c4c4c4;
  text-align: left;
}

footer :-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 5%;
  color: #c4c4c4;
  text-align: left;
}

footer ::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 5%;
  color: #c4c4c4;
  text-align: left;
}

footer ::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 5%;
  color: #c4c4c4;
  text-align: left;
}

footer #logotext {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20.4px;
  letter-spacing: 5%;
  color: white;
  text-align: center;
  margin-top: 15px;
}

footer .row-headings {
  color: #585c71;
  text-decoration: underline;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 22.8px;
  letter-spacing: 5%;
}

footer .content {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20.4px;
  letter-spacing: 5%;
  color: white;
}

footer .content img {
  margin-right: 10px;
}

footer #submit {
  border: none;
  text-align: center;
  display: block;
  display: inline-block;
  background: #4db5da;
  border-radius: 5px;
  height: 30px;
}

footer #submit img {
  text-align: center;
  margin: 0 auto;
}

footer .footer-copyright {
  color: white;
}

@media screen and (max-width: 1114px) {
  nav .location {
    display: none;
  }
  nav .form-control {
    width: auto !important;
    height: 40px;
  }
}

@media (max-width: 1024px) {
  .newsarticles .card {
    width: 240px !important;
    height: 350px !important;
  }
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(33.33%);
            transform: translateX(33.33%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-33.33%);
            transform: translateX(-33.33%);
  }
}

@media (max-width: 1000px) {
  .col-lg-9 .carousel-inner .carousel-item > div,
  .col-md-8 .carousel-inner .carousel-item > div {
    display: none;
  }
  .col-lg-9 .carousel-inner .carousel-item > div:first-child,
  .col-md-8 .carousel-inner .carousel-item > div:first-child {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .main-body .card {
    width: 300px !important;
    left: -100%;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media print {
  .body {
    -webkit-print-color-adjust: exact;
    background: #222;
    color: #eee;
  }
}

@page{size:auto; margin:5mm; }/*# sourceMappingURL=index.css.map */